aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.12.0
anyio==4.2.0
asciidoc==10.2.0
asgiref==3.6.0
astroid==2.14.2
async-timeout==4.0.2
attrs==22.2.0
Authlib==1.2.1
autocommand==2.2.2
azure-common==1.1.28
azure-core==1.29.4
azure-identity==1.13.0
azure-mgmt-core==1.4.0
azure-mgmt-rdbms==10.1.0
azure-mgmt-resource==23.0.1
azure-mgmt-subscription==3.1.1
Babel==2.13.0
bcrypt==4.0.1
bidict==0.22.1
blinker==1.6.2
boto3==1.28.62
botocore==1.31.62
Brlapi==0.8.4
Brotli==1.1.0
btrfsutil==6.2.1
cachetools==5.3.1
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
cryptography==41.0.4
Cython==0.29.33
dill==0.3.6
distro==1.8.0
Django==4.1.7
django-cors-headers==3.14.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
dnspython==2.4.2
email-validator==2.0.0.post2
et-xmlfile==1.1.0
eventlet==0.33.3
exceptiongroup==1.2.0
fastjsonschema==2.16.3
filelock==3.13.1
Flask==2.2.5
flask-babel==3.1.0
Flask-Compress==1.14
Flask-Gravatar==0.5.0
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Migrate==4.0.5
Flask-Paranoid==0.3.0
Flask-Principal==0.4.0
Flask-Security-Too==5.1.2
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
frozenlist==1.3.3
fsspec==2024.2.0
google-api-core==2.12.0
google-api-python-client==2.102.0
google-auth==2.22.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.60.0
graphviz==0.20.1
greenlet==1.1.2
gspread==5.10.0
gTTS==2.5.1
h11==0.14.0
httpagentparser==1.9.5
httpcore==1.0.3
httplib2==0.22.0
httpx==0.26.0
idna==3.4
importlib-metadata==6.8.0
inflect==6.0.2
isodate==0.6.1
isort==5.12.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
jaraco.context==4.3.0
jaraco.functools==3.6.0
jaraco.text==3.11.1
jeepney==0.8.0
Jinja2==3.1.2
jmespath==1.0.1
keyring==23.13.1
lazy-object-proxy==1.9.0
ldap3==2.9.1
lensfun==0.3.3
libfdt==1.6.1
libvirt-python==9.2.0
llvmlite==0.42.0
louis==3.25.0
Mako==1.2.4
MarkupSafe==2.1.3
mccabe==0.7.0
meson==1.0.1
more-itertools==9.0.0
mpmath==1.3.0
msal==1.24.1
msal-extensions==1.0.0
msrest==0.7.1
multidict==6.0.4
mutagen==1.46.0
mysql-connector-python==8.1.0
netsnmp-python==1.0a1
networkx==3.2.1
nftables==0.1
numba==0.59.0
numpy==1.24.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauth2client==4.1.3
oauthlib==3.2.2
openai==1.12.0
openai-whisper==20231117
openpyxl==3.1.2
OpenTimelineIO==0.15.0
ordered-set==4.1.0
packaging==23.0
pandas==2.0.3
paramiko==3.3.1
passlib==1.7.4
Pillow==9.4.0
platformdirs==3.1.0
ply==3.11
portalocker==2.8.2
prompt-toolkit==3.0.37
protobuf==4.21.12
psutil==5.9.5
psycopg==3.1.9
psycopg-binary==3.1.9
pwquality==1.4.5
pyaaf2==1.6.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.14
pybind11==2.10.3
pycairo==1.23.0
pycparser==2.21
pydantic==1.10.6
PyGObject==3.42.2
PyJWT==2.6.0
pylint==2.16.2
PyNaCl==1.5.0
pyotp==2.9.0
pyparsing==3.1.1
pypng==0.20220715.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.8.2
python-distutils-extra==2.39
python-dotenv==1.0.1
python-engineio==4.7.1
python-mpd2==3.1.0
python-socketio==5.9.0
python-xlib==0.33
pytz==2023.3.post1
pyxdg==0.28
qrcode==7.4.2
regex==2023.12.25
reportlab==4.0.4
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.7.0
SecretStorage==3.3.3
setproctitle==1.3.2
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.0
speaklater3==1.4
SpeechRecognition==3.10.1
SQLAlchemy==2.0.21
sqlparse==0.4.3
sseclient==0.0.27
sshtunnel==0.4.0
stego-lsb==1.4.1
sympy==1.12
TBB==0.2
team==1.0
tiktoken==0.6.0
tomli==2.0.1
tomlkit==0.11.6
torch==2.2.0
tqdm==4.64.1
triton==2.2.0
trove-classifiers==2023.3.10
typing_extensions==4.8.0
tzdata==2023.3
ua-parser==0.18.0
uritemplate==4.1.1
urllib3==1.26.14
user-agents==2.2.0
validate-pyproject==0.12.1
wcwidth==0.2.6
Werkzeug==2.2.3
wrapt==1.14.1
wsproto==1.2.0
WTForms==3.0.1
XlsxWriter==3.1.3
yarl==1.8.2
zipp==3.17.0
